.appMobile {
    background-image: url(/img/background.jpg);
    background-position: center center;
    background-size: contain;
    width: 100%;
    height: 620px;
    padding: $mg-10 * 3 0 $mg-10 * 2 0;
    .appMobile__content {
        margin: auto;
        max-width: 940px;
        width: 100%;
        .appMobile-left {
            padding: 60px 15px 0;
            p:first-child,
            p:nth-child(2) {
                @include text($color-white-0, $fs-6 + 7, $fw-bold + 100);
                margin-bottom: $mg-3;
            }
            p:nth-child(3) {
                margin-bottom: $mg-3;
                padding: $mg-6 0 $mg-5;
                letter-spacing: .5px;
                @include text($color-white-0, $fs-3, $fw-normal);
            }
            .btnAppMobile {
                background-color: $color-red;
                padding: 10px 20px;
                @include text($color-white-0, $fs-3, $fw-bold + 100);
                @extend .border-radius;
                border: none;
            }
            p:last-child {
                padding-top: 10px;
                @include text($color-white-0, $fs-3, $fw-normal);
                a {
                    @include text($color-white-0, $fs-3, $fw-normal);
                    border-bottom: 1px solid $color-white-0;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        .appMobile-right {
            position: relative;
            width: auto;
            height: auto;
            .mobilePhone {
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 0 28%;
                img {
                    width: 205px;
                    height: auto;
                }
            }
            .carousel {
                position: absolute;
                top: -0.5%;
                left: 29.3%;
                .carousel-inner {
                    z-index: 5;
                    .carousel-item {
                        width: 100%;
                        height: auto;
                        img {
                            width: 195px;
                            border-radius: 25px;
                        }
                    }
                }
            }
        }
    }
}

@include mediaQueryMax(getBreakpoints('large')) {
    .appMobile {
        padding: $mg-3 0 $mg-10 * 2;
        height: 1300px;
        .appMobile__content {
            .appMobile-left {
                text-align: center;
                p:first-child,
                p:nth-child(2) {
                    font-size: 1.8em;
                }
                p:nth-child(3) {
                    font-size: 1em;
                }
            }
            .appMobile-right {
                position: relative;
                margin: auto;
                .mobilePhone {
                    top: 50%;
                    left: 40%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    img {
                        width: 415px;
                        height: auto;
                    }
                }
                .carousel {
                    .carousel-inner {
                        left: -14.5%;
                        top: 15px;
                        .carousel-item {
                            height: auto;
                            img {
                                width: 390px;
                            }
                        }
                    }
                }
            }
        }
    }
}